.card{
    width: 250px;
    background-color: rgba(117, 117, 117, 0.164) !important;
    border : 1px double blue;
    align-items: center;
}

.box{
    display: flex;
    flex-direction: row;
    padding-left: 42%;
}